<nav>
  <ul class="nav-list">
    <li><%= link_to root_path do %>
      <i class="fas fa-clipboard-check fa-3x"></i></li>
    <% end %>
    <% if user_signed_in? %>
      <li><%= link_to "Lists", lists_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
