// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "list-card";
@import "btn-santa";
@import "task-card";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background-color: white;
}

ul {
  text-align: left;
}
