.task-card {
  h3 {
    font-family: 'Roboto';
  }
  ul {
    list-style: none;
  }
}

.list-task {
  border-bottom: lightgrey 1px solid;
  a {
    text-decoration: none;
  }
  .fa-check-circle {
    color: $success;
  }

  .fa-circle {
    color: $danger;
  }
  .fa-trash-alt {
    color: $danger;
  }
}
